*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}


.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

.main-workspace{

}

.main-workspace > div{
	width: 50%;
	display: inline-block;
	float: left;
}

.chat-stream{
	width:100%;
	background-color: #2593A3;
}

.whiteboard{
	background-color: #646464;
	width: 100%;
}

.whiteboard .title h4{
	text-align: center;
	padding-top: 20px;
	color: #fff;
}

.whiteboard img{
	width: 100%;
	padding: 0 30px;
}

/* reset */
h1, h2, h3, h4, p, li, ul, nav {

	margin: 0;
	padding: 0;
}


/* body defaults */
body {

	width:100%;
	background-color: #009092;
	color: white;
	margin: 0 auto;
	padding: 0;
	font-size: 100%;
	font-family: 'Roboto', serif;
}


/* header styles */
.app-name {

	padding: 15px;
	font-size: 20px;
}

header h4 {

	font-weight: 300;
}

header span {

	font-weight: bold;
}

.team-name, .show-more {

	color:black;
	background-color: white;
	padding:15px;
}

.team-name h2 {

	font-size: 30px;
}

.show-more {

	text-align: center;

}

.show-more button, .edit a {

	color: gray;
	border: none;
	background-color: white;
	border-bottom:1px solid black;
}

.show-more button:hover {
	color:black;
}

.edit a {
	text-decoration: none;
	border: none;
}

.team-name p {
	margin-top:10px;
}


/* nav styles */

nav {
	border-top:1px solid gray;
	color:black;
	background-color: white;
}

.top-nav li {
	display: inline-block;
	border-right:1px solid;
	margin: 0;
	padding: 20px;
	border-right: 1px solid gray;
	font-weight: bold;
	text-decoration: none;
}



.top-nav li:nth-child(-n+2) a {

	color: salmon;
}

.top-nav li a:link, li a:visited {
	color: black;
}

.top-nav li:hover {
	background-color: #F2F2F2;
}

.top-nav li:last-child {
	border:none;
}


.top-nav a {

	text-decoration: none;
}


/* footer styles */

footer {
	/*border: 1px solid;*/
	/*height: 100px;*/
	position: fixed;
	left:0px;
	bottom: 0px;
	width: 50%;
}

footer input[type=text] {
	height:50px;
	width:90%;
	font-size: 20px;
	background-color: #66B2B2;
	border:5px solid #66B2B2;
	/*box-shadow: 3px solid #2593A3;*/
	color:white;
	border-right: 2px solid black;
	padding-right:10px;

}

footer button {
	width:8%;
	background-color: salmon;
	border:1px solid;
	/*font-size: 20px;*/
	border-radius: 5px;
	margin-top: 10px;
}

button p {
	border:1px solid;
	padding: 5px;
}

::-webkit-input-placeholder {
   color: white;
   text-decoration: underline;
}









